@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --black: black;
  --white: white;
  --trans: rgba(153, 153, 153, 0.11);

  --gray100: #12181b;
  --gray75: #4d5254;
  --gray50: #888b8d;
  --gray25: #c4c5c6;
  --gray10: #e7e8e8;

  --primary100: #6b0ce3;
  --primary75: #9049ea;
  --primary50: #b585f1;
  --primary25: #dac2f8;

  --accent100: #df1bff;
  --accent75: #e754ff;
  --accent50: #ef8dff;
  --accent25: #f7c6ff;

  --blue100: #3825fd;
  --blue75: #6a5cfd;
  --blue50: #9b92fe;
  --blue25: #cdc9ff;

  --blueAccent100: #0fb1d9;
  --blueAccent75: #4bc5e2;
  --blueAccent50: #87d8ec;
  --blueAccent25: #c3ecf5;

  --gradient-btn: linear-gradient(97.1deg, #df1bff 1.03%, #6b0ce3 98.29%);

  --gradient-bg: linear-gradient(147.62deg, #df1bff -5.26%, #6b0ce3 102.43%);
  --gradient-bg-inverse: linear-gradient(126.23deg, #e441ff 3.68%, #6b0ce3 102.56%);

  --gradient-dark: linear-gradient(103.72deg, #1e2426 1.03%, #12181b 98.29%);
  --gradient-dark-inverse: linear-gradient(285.26deg, #1a2125 -17.09%, #343a3d 116.04%);

  --transparent-primary: rgba(109, 12, 227, 0.836);
  --transparent-blue: rgba(55, 37, 253, 0.808);
  --transparent-dark: rgba(18, 24, 27, 0.815);
}

.blue {
  --bg: var(--white);
  --text: var(--gray75);
  --card: var(--white);
  --transparent: var(--transparent-blue);

  --gradient: linear-gradient(130.49deg, #0fb1d9 1.26%, #3825fd 99.21%);
  --gradient-inverse: linear-gradient(125.82deg, #4bc5e2 1.26%, #3825fd 99.21%);

  --btn: linear-gradient(130.49deg, #0fb1d9 1.26%, #3825fd 99.21%);
  --btn-contrast: var(--white);

  --gray0: var(--gray100);
  --gray1: var(--gray75);
  --gray2: var(--gray50);
  --gray3: var(--gray25);
  --gray4: var(--gray10);

  --primary0: var(--blue100);
  --primary1: var(--blue75);
  --primary2: var(--blue50);
  --primary3: var(--blue25);

  --accent0: var(--blueAccent100);
  --accent1: var(--blueAccent75);
  --accent2: var(--blueAccent50);
  --accent3: var(--blueAccent25);

  --shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
  --shadow-primary: 0px 20px 40px rgba(56, 37, 253, 0.3);
}

.light {
  --bg: var(--white);
  --text: var(--gray75);
  --card: var(--white);

  --transparent: var(--transparent-primary);

  --gradient: var(--gradient-bg);
  --gradient-inverse: var(--gradient-bg-inverse);

  --btn: var(--gradient-btn);
  --btn-contrast: var(--white);

  --gray0: var(--gray100);
  --gray1: var(--gray75);
  --gray2: var(--gray50);
  --gray3: var(--gray25);
  --gray4: var(--gray10);

  --primary0: var(--primary100);
  --primary1: var(--primary75);
  --primary2: var(--primary50);
  --primary3: var(--primary25);

  --accent0: var(--accent100);
  --accent1: var(--accent75);
  --accent2: var(--accent50);
  --accent3: var(--accent25);

  --shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
  --shadow-primary: 0px 20px 40px rgba(225, 27, 255, 0.438);
}

.dark {
  --bg: var(--gray100);
  --text: var(--white);

  --transparent: var(--transparent-dark);

  --card: var(--gradient-dark-inverse);

  --gradient: var(--gradient-dark);
  --gradient-inverse: var(--gradient-dark-inverse);

  --btn: var(--gray10);
  --btn-contrast: var(--gray100);

  --gray0: var(--gray10);
  --gray1: var(--gray25);
  --gray2: var(--gray50);
  --gray3: var(--gray75);
  --gray4: var(--gray100);

  --primary0: var(--gray10);
  --primary1: var(--gray25);
  --primary2: var(--gray50);
  --primary3: var(--gray75);

  --accent0: var(--gray50);
  --accent1: var(--gray75);
  --accent2: var(--gray25);
  --accent3: var(--gray10);

  --shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
  --shadow-primary: 0px 20px 40px rgba(0, 0, 0, 0.15);
}

body {
  background: var(--bg);
  color: var(--text);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  max-width: 100vw;
  font-family: system-ui, "Montserrat", sans-serif;
}
@supports (-webkit-text-stroke: 2.2px white) {
  .hero {
    -webkit-text-stroke: 2.2px white;
    -webkit-text-fill-color: transparent;
  }
}

.bg {
  background: var(--bg);
}

.color {
  color: var(--text);
}

.text {
  color: var(--white);
}

a {
  color: currentColor;
  text-decoration: none;
}

/* Gradient button */
.btn {
  color: var(--btn-contrast);
  background: var(--btn);
  transition: 0.5s;
  background-size: 200% auto;
}

.btn:hover {
  animation: btn 0.3s infinite alternate;
}

@keyframes btn {
  from {
    background-position: right bottom;
  }
  to {
    background-position: left top;
  }
}

.btn-tag {
  color: var(--text);
  background: var(--gray2);
}

/* Cards */
.card-bg {
  background: var(--card);
  height: 265px;
}

.card-contact {
  background: var(--card);
}

.card-info {
  background: var(--gradient);
}
/* Shadows */
.shadow {
  box-shadow: var(--shadow);
}

.shadow-primary {
  box-shadow: var(--shadow-primary);
}

/* Background gradients */
.gradient {
  background: var(--gradient);
}

.gradient-alt {
  background: var(--gradient-inverse);
}

.z-100 {
  z-index: 100;
}
.-z-10 {
  z-index: -10;
}
.-z-5 {
  z-index: -5;
}
.-z-4 {
  z-index: -4;
}
.-z-3 {
  z-index: -3;
}
.-z-2 {
  z-index: -2;
}
.circle {
  width: 1082px;
  height: 1082px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  left: 45vw;
  top: -50vh;
}

.circle-2 {
  width: 340px;
  height: 340px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  left: 10vw;
  top: 30vh;
}

/* Border */
.border-1 {
  border-width: 2px !important;
}

.h-1 {
  height: 2px !important;
}

.h-95 {
  max-height: 95vh;
}

/* Responsive */

@media (max-width: 640px) {
  .card-bg {
    max-height: 180px;
    min-height: 158px;
  }

  .works {
    background-size: contain !important;
  }

  .officepages,
  .crwn-clothing,
  .movie-time,
  .unsplash,
  .clean-fits,
  .transferwise {
    height: min-content;
  }

  .circle {
    width: 400px;
    height: 400px;
    left: 50vw;
    top: -10vh;
  }

  .circle-2 {
    width: 170px;
    height: 170px;
    top: 25vh;
  }
}
@media (min-width: 640px), (max-width: 640px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.animate-round {
  animation: round 01s infinite linear;
}

@keyframes round {
  to {
    transform: rotate(360deg);
  }
}

.translate {
  transition: 0.5s ease-out;
  transform: translateX(-200px);
}

.translate-0 {
  transition: 0.5s ease-in;

  transform: translate(0);
}

.color-primary {
  background: var(--gradient-bg);
  color: var(--primary100);
}

.color-gray {
  background: var(--gradient-dark);
}

.color-blue {
  background: blue;
}

button,
button:focus {
  outline: none !important;
}

pre {
  scrollbar-width: 0;
  overflow-x: scroll;
}

blockquote {
  border-left: 4px solid var(--primary0);
}

blockquote {
  margin: 1rem 0 !important;
}

pre::-webkit-scrollbar,
code::-webkit-scrollbar {
  display: none;
}

.hash {
  opacity: 0.2;
}

.hash:hover {
  opacity: 1;
}
.hover-text:hover ~ .hash {
  opacity: 1;
}

body:visited {
  color: var(--primary1);
}

.after::after {
  z-index: 1;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 70px;
  pointer-events: none;

  background-repeat: repeat-x;
  background-image: url(/images/brush-yellow.png);
  filter: brightness(100);
  background-position: 172px 0;
}

.after-1::after {
  bottom: -100px;
}
.after-2::after {
  bottom: -35px;
}

.before::before {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 70px;
  pointer-events: none;

  background-repeat: repeat-x;
  background-image: url(/images/brush-yellow.png);
  filter: brightness(100);
  background-position: 172px 0;
}

.before-1::before {
  top: 27px;
}

.before-2::before {
  z-index: 1;
  top: -35px;
}
/* .brush-after::after {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 70px;
  pointer-events: none;
  bottom: -35px;
  background-repeat: repeat-x;
  background-position: 172px 0;
}

.brush-purple {
  background-image: url(/images/brush/brush-purple.png);
}

.brush-black {
  background-image: url(/images/brush/brush-white.png);
}
 */

.bar {
  background: #191919;
  height: 36px;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-bottom: -16px;
}

.btns,
.btns::before,
.btns::after {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  display: block;
}

.btns {
  background: #f6b73e;
  position: relative;
  margin-left: 38px;
  top: 12px;
}
.btns::before,
.btns::after {
  content: " ";
  position: absolute;
}
.btns::before {
  background: #f55551;
  margin-left: -20px;
}
.btns::after {
  background: #32c146;
  margin-left: 20px;
}

/* Works page */

.h-60vh {
  height: 60vh;
}

.crwn-clothing {
  background: linear-gradient(126.78deg, #e7d7d6 -32.22%, #d6eff0 121.15%);
}
.combat-covid {
  background: radial-gradient(39.9% 319% at 36.68% 54.79%, #418f75 0%, #1d648a 100%);
}

.no-scroll {
  scrollbar-width: 0;
  overflow-y: scroll;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.officepages {
  background: radial-gradient(70.26% 618.58% at 23.91% 139.94%, #7b28a2 0%, #43a9f3 91.37%);
}

.movie-time {
  background: radial-gradient(31.91% 254.53% at 43.28% 65.42%, #0d1218 0%, #111b29 100%);
}

.clean-fits {
  background: radial-gradient(31.91% 254.53% at 43.28% 65.42%, #1a2536 0%, #111b29 100%);
}

.transferwise {
  background: radial-gradient(70.26% 618.58% at 23.91% 139.94%, #286ea2 0%, #d3ffef 0.01%, #ade2ff 91.37%);
}

.unsplash {
  background: radial-gradient(70.26% 618.58% at 23.91% 139.94%, #a24528 0%, #ffded3 0.01%, #e5adff 91.37%);
  /* background-size: contain; */
}

.works {
  background: url(/images/tiger.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

::selection {
  background: var(--gray10); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--accent3); /* Gecko Browsers */
}

.link-grow {
  animation: 0.5s grow infinite alternate;
  background: var(--primary0);
  /* transition: 0.3s all ease; */
}

#cursor {
  z-index: 10000;
  transform: translate(-50%, -50%);
  /* filter: grayscale(); */
}

@keyframes grow {
  from {
    transform: scale(1);
    transition-property: background, transform;
    transform-origin: 100% 100%;
  }
  to {
    transform: scale(1.2);
    transition-property: background, transform;
    transform-origin: 100% 100%;
  }
}
