html {
  scroll-behavior: smooth;
}

:root {
  --black: black;
  --white: white;

  --gray100: #242127;
  --gray75: #5c595f;
  --gray50: #929094;
  --gray25: #c8c7c9;
  --gray10: #f3f3f3;

  --primary100: #6b0ce3;
  --primary75: #9049ea;
  --primary50: #b585f1;
  --primary25: #dac2f8;

  --accent100: #df1bff;
  --accent75: #e754ff;
  --accent50: #ef8dff;
  --accent25: #f7c6ff;

  --blue100: #3825fd;
  --blue75: #6a5cfd;
  --blue50: #9b92fe;
  --blue25: #cdc9ff;

  --blueAccent100: #0fb1d9;
  --blueAccent75: #4bc5e2;
  --blueAccent50: #87d8ec;
  --blueAccent25: #c3ecf5;

  --gradient-btn: linear-gradient(97.1deg, #df1bff 1.03%, #6b0ce3 98.29%);

  --gradient-bg: linear-gradient(147.62deg, #df1bff -5.26%, #6b0ce3 102.43%);
  --gradient-bg-inverse: linear-gradient(126.23deg, #e441ff 3.68%, #6b0ce3 102.56%);

  --gradient-dark: linear-gradient(92.96deg, #38323d 1.03%, #242127 98.29%);
  --gradient-dark-inverse: linear-gradient(276.09deg, #242127 -17.09%, #3d3a41 116.04%);
}

.blue {
  --bg: var(--white);
  --text: var(--gray100);
  --card: var(--white);

  --gradient: linear-gradient(130.49deg, #0fb1d9 1.26%, #3825fd 99.21%);
  --gradient-inverse: linear-gradient(125.82deg, #4bc5e2 1.26%, #3825fd 99.21%);

  --btn: linear-gradient(130.49deg, #0fb1d9 1.26%, #3825fd 99.21%);
  --btn-contrast: var(--white);

  --gray0: var(--gray100);
  --gray1: var(--gray75);
  --gray2: var(--gray50);
  --gray3: var(--gray25);
  --gray4: var(--gray10);

  --primary0: var(--blue100);
  --primary1: var(--blue75);
  --primary2: var(--blue50);
  --primary3: var(--blue25);

  --accent0: var(--blueAccent100);
  --accent1: var(--blueAccent75);
  --accent2: var(--blueAccent50);
  --accent3: var(--blueAccent25);

  --shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
  --shadow-primary: 0px 20px 40px rgba(56, 37, 253, 0.3);
}

.light {
  --bg: var(--white);
  --text: var(--gray100);
  --card: var(--white);

  --gradient: var(--gradient-bg);
  --gradient-inverse: var(--gradient-bg-inverse);

  --btn: var(--gradient-btn);
  --btn-contrast: var(--white);

  --gray0: var(--gray100);
  --gray1: var(--gray75);
  --gray2: var(--gray50);
  --gray3: var(--gray25);
  --gray4: var(--gray10);

  --primary0: var(--primary100);
  --primary1: var(--primary75);
  --primary2: var(--primary50);
  --primary3: var(--primary25);

  --accent0: var(--accent100);
  --accent1: var(--accent75);
  --accent2: var(--accent50);
  --accent3: var(--accent25);

  --shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
  --shadow-primary: 0px 20px 40px rgba(225, 27, 255, 0.438);
}

.dark {
  --bg: var(--gray100);
  --text: var(--white);

  --card: var(--gradient-dark-inverse);

  --gradient: var(--gradient-dark);
  --gradient-inverse: var(--gradient-dark-inverse);

  --btn: var(--gray10);
  --btn-contrast: var(--gray100);

  --gray0: var(--gray10);
  --gray1: var(--gray25);
  --gray2: var(--gray50);
  --gray3: var(--gray75);
  --gray4: var(--gray100);

  --primary0: var(--gray10);
  --primary1: var(--gray25);
  --primary2: var(--gray50);
  --primary3: var(--gray75);

  --accent0: var(--gray50);
  --accent1: var(--gray75);
  --accent2: var(--gray25);
  --accent3: var(--gray10);

  --shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
  --shadow-primary: 0px 20px 40px rgba(0, 0, 0, 0.15);
}

body {
  background: var(--bg);
  color: var(--text);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  max-width: 100vw;
  font-family: system-ui, "Montserrat", sans-serif;
}

.text {
  color: var(--white);
}

a {
  color: currentColor;
  text-decoration: none;
}

/* Gradient button */
.btn {
  color: var(--btn-contrast);
  background: var(--btn);
  transition: 0.5s;
  background-size: 200% auto;
}

.btn:hover {
  animation: btn 0.3s infinite alternate;
}

@keyframes btn {
  from {
    background-position: right bottom;
  }
  to {
    background-position: left top;
  }
}

.btn-tag {
  color: var(--text);
  background: var(--gray2);
}

/* Cards */
.card-bg {
  background: var(--card);
  height: 265px;
}

.card-contact {
  background: var(--card);
}

.card-info {
  background: var(--gradient);
}
/* Shadows */
.shadow {
  box-shadow: var(--shadow);
}

.shadow-primary {
  box-shadow: var(--shadow-primary);
}

/* Background gradients */
.gradient {
  background: var(--gradient);
}

.gradient-alt {
  background: var(--gradient-inverse);
}

.-z-10 {
  z-index: -10;
}
.-z-5 {
  z-index: -5;
}
.-z-4 {
  z-index: -4;
}
.-z-3 {
  z-index: -3;
}
.-z-2 {
  z-index: -2;
}
.circle {
  width: 1082px;
  height: 1082px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  left: 45vw;
  top: -50vh;
}

.circle-2 {
  width: 340px;
  height: 340px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  left: 10vw;
  top: 30vh;
}

/* Border */
.border-1 {
  border-width: 2px !important;
}

.h-1 {
  height: 2px !important;
}

/* Responsive */

@media (max-width: 640px) {
  .card-bg {
    height: 158px;
  }

  .circle {
    width: 400px;
    height: 400px;
    left: 50vw;
    top: -10vh;
  }

  .circle-2 {
    width: 170px;
    height: 170px;
    top: 25vh;
  }
}
@media (min-width: 640px), (max-width: 640px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.animate-round {
  animation: round 01s infinite linear;
}

@keyframes round {
  to {
    transform: rotate(360deg);
  }
}

.translate {
  transition: 0.5s ease-out;
  transform: translateX(-200px);
}

.translate-0 {
  transition: 0.5s ease-in;

  transform: translate(0);
}

.color-primary {
  background: var(--gradient-bg);
  color: var(--primary100);
}

.color-gray {
  background: var(--gradient-dark);
}

.color-blue {
  background: blue;
}

button,
button:focus {
  outline: none !important;
}

pre {
  scrollbar-width: 0;
  overflow-x: scroll;
}

blockquote {
  padding: 0.2rem 0.7rem;
  border-radius: 0.3rem;
  font-family: sans-serif;
  border-left: 4px solid var(--primary0);
  font-size: 0.9rem;
  font-style: italic;
}

pre::-webkit-scrollbar,
code::-webkit-scrollbar {
  display: none;
}

.hash {
  opacity: 0.2;
}

.hash:hover {
  opacity: 1;
}
.hover-text:hover ~ .hash {
  opacity: 1;
}

body:visited {
  color: var(--primary1);
}
